<div class="modal fade" id="volunteerShowModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeVolunteer close">x</button>
                </div>
              </div>
              <br />
              <div class="row">

                <div class="col-md-12">
                  <p id="notice"><%= notice %></p>

                  <p>
                  <strong>First name:</strong>
                  <%= @volunteer.first_name %>
                  </p>

                  <p>
                  <strong>Last name:</strong>
                  <%= @volunteer.last_name %>
                  </p>

                  <p>
                  <strong>Email:</strong>
                  <%= @volunteer.email %>
                  </p>

                  <p>
                  <strong>Phone1:</strong>
                  <%= @volunteer.phone1 %>
                  </p>

                  <p>
                  <strong>Phone2:</strong>
                  <%= @volunteer.phone2 %>
                  </p>

                  <p>
                  <strong>Address:</strong>
                  <%= @volunteer.locations.first.full_street_address %>
                  </p>

                  <strong>Groups:</strong>
                  <ul>
                    <% @membership.each do |mb| %> 
                      <li>
                        <%= mb.name %> 
                      </li>
                    <% end %>
                  </ul>

                  <%= link_to 'Edit', edit_volunteer_path(@volunteer), class: "closeVolunteer" %> |
                  <%= link_to 'Back', volunteers_path, class: "closeVolunteer"%>
                </div>


              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeVolunteer btn btn-default">close</button>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
