<div class="modal fade" id="volunteerShowModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeVolunteer close">x</button>
                </div>
              </div>
              <p id="notice"><%= notice %></p>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"><h4> Donator Details </h4></div>
                    <div class="panel-body">
                      <table class='table-hover'>
                        <tr>
                          <td><strong>First name</strong></td>
                          <td> <%= @volunteer.first_name %> </td>
                        </tr>
                        <tr>
                          <td><strong>Last name</strong></td>
                          <td> <%= @volunteer.last_name %> </td>
                        </tr>
                        <tr>
                          <td><strong>Email</strong></td>
                          <td> <%= @volunteer.email %> </td>
                        </tr>
                        <tr>
                          <td><strong>Phone 1</strong></td>
                          <td> <%= @volunteer.phone1 %> </td>
                        </tr>
                        <tr>
                          <td> <strong>Phone 2</strong></td>
                          <td> <%= @volunteer.phone2 %> </td>
                        </tr>
                        <tr>
                          <td> <strong>Address</strong></td>
                          <td> <%= @volunteer.location.full_street_address %> </td>
                        </tr>
                        <tr>
                          <td> <strong>Groups</strong></td>
                          <td>
                            <% @membership.each do |mb| %> 
                              <%= mb.name %> 
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="closeVolunteer btn btn-default">close</button>
                  <%= link_to 'Edit', edit_volunteer_path(@volunteer), class: "btn btn-default closeVolunteer" %>
                  <%= link_to 'Back', volunteers_path, class: "closeVolunteer btn btn-default"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

