<%= simple_form_for :user, {url: sessions_path, html: {class: 'form-login'}} do |f| %>
  <h2 class="form-login-heading">
    <%= image_tag 'logo-asside', class: 'login-logo' %> 
    sign in now
  </h2>
  <div class="login-wrap">
    <%= f.input :email, required: false %> 
    <%= f.input :password, required: false %> 
    <%= button_tag type: 'submit', class: "btn btn-theme btn-block" do %>
      <span class="fa fa-lock"> </span> SIGN IN
    <% end %> 
  </div>
<% end %> 

