<div id="donatorModal">
  <div class="modal fade" id="donatorShowModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="containter">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="closeDonatorShowModal close">x</button>
                  </div>
                </div>
                <div class="row content">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h4> Donator Details </h4></div>
                      <div class="panel-body">
                        <table class='table-hover'>
                          <tr>
                            <td><strong>First name</strong></td>
                            <td> <%= @donator.first_name %> </td>
                          </tr>
                          <tr>
                            <td><strong>Last name</strong></td>
                            <td> <%= @donator.last_name %> </td>
                          </tr>
                          <tr>
                            <td><strong>Email</strong></td>
                            <td> <%= @donator.email %> </td>
                          </tr>
                          <tr>
                            <td><strong>Phone 1</strong></td>
                            <td> <%= @donator.phone1 %> </td>
                          </tr>
                          <tr>
                            <td> <strong>Phone 2</strong></td>
                            <td> <%= @donator.phone2 %> </td>
                          </tr>
                          <tr>
                            <td> <strong>Address</strong></td>
                            <td> <%= @donator.location.full_street_address %> </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h4> Donation Details </h4></div>
                      <div class="panel-body">
                        <table  id="donations-modal-table" class="table table-striped table-responsive table-hover">
                          <thead>
                            <tr>
                              <th>Transaction id </th>
                              <th>Amount </th>
                              <th>Date </th>
                              <th>Actions </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @donations.each do |business_donation| %>
                              <tr>
                                <td> <%= business_donation.transaction_id %> </td>
                                <td> <%= business_donation.amount %> </td>
                                <td> <%= business_donation.created_at %> </td>
                                <td>
                                  <div class="dropdown">
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Actions <i class="fa fa-caret-down" aria-hidden="true"></i> 
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li> <%= link_to 'edit', edit_business_donation_path(business_donation) %> </li>
                                      <li> <%= link_to 'destroy', business_donation_path(business_donation), method: :delete, data: { confirm: 'are you sure?' } %> </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="closeDonationShowModal btn btn-default">close</button>
                    <%= link_to 'Back', business_donators_path, class: "closeDonationShowModal btn btn-default" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
