<p id="notice"><%= notice %></p>

<h1>Listing Business Donators</h1>

<table id="donators-table" class="table table-striped table-responsive table-hover">
  <thead>
    <tr>
      <th>Full name </th>
      <th>Email  </th>
      <th>Phone </th>
      <th>Institution </th>
      <th>Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @donators.each do |donator| %>
      <tr>
        <td> <%= donator.fullname %> </td>
        <td> <%= donator.email %> </td>
        <td> <%= donator.phone1 %> </td>
        <td> <%= donator.institution %> </td>
        <td>
          <%= link_to 'Show', business_donator_path(donator), remote: true %> 
          <%# <%= link_to 'destroy', business_donator_path(donator), method: :delete, data: { confirm: 'are you sure?' } %1> %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Donation', new_business_donation_path %>

<script>
  $(document).on("turbolinks:load", function() {
    $("#donators-table").dataTable();
  });
</script>
