<%= simple_form_for @dog, html: {class: 'form-horizontal'}  do |f| %>
  <%= f.error_notification %>

  <h3> <%= f.label "Dog details" %> </h3>
  <%= f.input :name %> 
  <%= f.input :chip_id %> 
  <%= f.input :age, collection: 1..20 %> 
  <%= f.input :breed %> 
  <%= f.input :sex, collection: ["F", "M"] %> 

  <div class="form-group">
    <%= f.button :submit, class: 'import' %>
  </div>
<% end %>
