<h1>Volunteers Import</h1>

<%= render "application_partials/import_info", klass: 'VolunteersImport' %>

<%= form_for @volunteers_import do |f| %>
  <%= render "application_partials/imports_flashes", import_objects: @volunteers_import %>
  <div class="field"> <%= f.file_field :file %> </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

