<h1>Import</h1>

<p>A CSV file can be used to import records. The first row should be the column name. The following columns are required.</p>
<p>
  <% @volunteer_import.columns.each_with_index do |column, i| %>
    <strong><%= column %> <%= "," unless i == @volunteer_import.columns.length-1 %> </strong> 
  <% end %>
</p>
<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>



<%= form_for @volunteer_import do |f| %>
  <% if @volunteer_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @volunteer_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% elsif @volunteer_import.notice %>
    <div id="notice_explanation">
      <h2>Import completed.</h2>
      <div> <%= @volunteer_import.notice %> </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

