<h1>Import</h1>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Volunteer.columns.each do |column| %>
    <% if column.name.in? ["id", *Volunteer.attribute_names] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>


<%= form_for @volunteer_import do |f| %>
  <% if @volunteer_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @volunteer_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% elsif @volunteer_import.notice %>
    <div id="notice_explanation">
      <h2>Import completed.</h2>
      <div> <%= @volunteer_import.notice %> </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

<%# <%= form_tag volunteer_imports_path  ,multipart: true do %1> %>
<%#   <%= file_field_tag :file %1> %> 
<%#   <%= submit_tag "Import" %1> %> 
<%# <% end %1> %> 


