<%= simple_form_for @user, html: {class: 'from-horizontal'} do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name if current_moderator.owner? %> 
  <%= f.input :last_name if current_moderator.owner? %> 
  <%= f.input :email %> 
  <%= f.input :password %> 

  <%= render "application_partials/location_form", f: f  %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default import' %> 
  </div>
<% end %> 
