<h3><i class="fa fa-angle-right"></i> users#index</h3>
<div class="row mt">
  <div class="col-lg-12">
    <table id="users-table" class="table table-hover">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Email</th>
          <th>Created at</th>
          <th>Address</th>
          <th colspan="2" >Coordinates</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td> <%= user.fullname %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.created_at %> </td>
            <td> <%= user.location.full_street_address %> </td>
            <td> <%= user.location.latitude %> </td>
            <td> <%= user.location.longitude %> </td>
            <td> <%= link_to "Edit", edit_user_path(user) %> 
            <% unless user.owner? %>
              <%=  link_to "Delete", user_path(user), method: 'delete' if current_moderator.owner? %> 
            <% end %> 
            </td>
          </tr>
        <% end %> 
      </tbody>
    </table>
    <br >
    <%= if current_moderator.owner? then link_to 'New User', new_user_path end %> 
    </div>
</div>
<script>
  $(document).on("turbolinks:load", function() {
    $("#users-table").dataTable();
  });
</script>
