<div class="modal fade" id="clientShowModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeClientShowModal close">x</button>
                </div>
              </div>
              <br />
              <div class="row">

                <div class="col-md-12">
                  <p id="notice"><%= notice %></p>

                  <p>
                  <strong>First name:</strong>
                  <%= @client.first_name %>
                  </p>

                  <p>
                  <strong>Last name:</strong>
                  <%= @client.last_name %>
                  </p>

                  <p>
                  <strong>Email:</strong>
                  <%= @client.email %>
                  </p>

                  <p>
                  <strong>Phone1:</strong>
                  <%= @client.phone1 %>
                  </p>

                  <p>
                  <strong>Phone2:</strong>
                  <%= @client.phone2 %>
                  </p>

                  <p>
                  <strong>Address:</strong>
                  <%= @client.location.full_street_address %>
                  </p>
                  <strong>Coordinates:</strong>
                  <%= @client.location.latitude %>
                  <%= @client.location.longitude %>
                  </p>

                  <p>
                  <strong>Dogs:</strong>
                  <% @client.dogs.each do |dog| %>
                    <%= "#{dog.name} #{dog.breed}"  %> 
                  <% end %> 
                  </p>

                  <%= link_to 'Edit', edit_client_path(@client), class: "closeClientShowModal" %> |
                  <%= link_to 'Back', clients_path, class: "closeClientShowModal"%>
                </div>


              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeClientShowModal btn btn-default">close</button>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

