<div class="modal fade" id="editEvent">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeEditEvent close">x</button>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-12">
                  <p id="notice"><%= notice %></p>
                  <div id="event_date_range"></div>
                  <div id="date_picker"></div>
                  <%= simple_form_for @event, remote: true, html: {class: 'form-horizontal'} do |f| %>

                    <%= f.input :title, input_html: {class: "form-control" } %> 
                    <%= f.input :start, as: :string, input_html: {class: "datepicker form-control", id: "startTime"} %> 
                    <%= f.input :end, as: :string, input_html: {class: "datepicker form-control", id: "endTime"} %> 
                    <%= f.input :color, as: :minicolors %> 

                    <%= hidden_field_tag :options, params[:options] %> 
                    <% case params[:options] 
                    when 1 %> <%= render "custom_events", event: f %> 
                <% when 2 %> <%= render "training", event: f %> 
                <% when 3 %> <%= render "transfer", event: f %> 
                <% when 4 %> <%= render "visit", event: f %> 
                <% end %> 
                <br />
                <br />

                <%= f.button :submit %> 

                <%= link_to 'Delete', event_path, method: :delete, 
                  class: 'btn btn-danger', 
                  data: {confirm: 'Are you sure?'}, 
                  remote: true unless @event.new_record? %> 

              <% end %> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeEditEvent btn btn-default">close</button>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#event_color').minicolors({
  theme: 'bootstrap'
});
</script>
