<%= simple_form_for @event, remote: true, html: {class: 'form-horizontal'} do |f| %>

  <fieldset id="core-event">
    <div class="row">
      <div class="col-md-12">
        <%= f.input :title, input_html: {class: "form-control" } %> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :start, as: :string, input_html: {class: "datepicker form-control", id: "startTime"} %> 
      </div>
      <div class="col-md-6">
        <%= f.input :end, as: :string, input_html: {class: "datepicker form-control", id: "endTime"} %> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-10">
        <% unless params[:action] == 'edit' %>
          <label class="control-label string required" for="startTime" aria-required="true"><abbr title="required">*</abbr> Start</label>
          <div class="form-group">
            <%= select_tag :options, options_for_select([['To continue select',0],['Custom',1],['Training',2],['Transfer', 3],['Visit',4]], 0), class: 'form-control'  %> <br /> 
          </div>
        <% end %> 
      </div>
      <div class="col-xs-2">
        <%= f.input :color, as: :minicolors %> 
      </div>
    </div>
  
  </fieldset>

  <fieldset id="custom-event"> <%= render "custom_events", event: f %> </fieldset>
  <fieldset id="training"> <%= render "training", event: f %> </fieldset>
  <fieldset id="transfer"> <%= render "transfer", event: f %> </fieldset>
  <fieldset id="visit"> <%= render "visit", event: f %> </fieldset>

  <%= f.button :submit, class: 'event-submit' %> 

  <%= link_to 'Delete', event_path, method: :delete, 
    class: 'btn btn-danger', 
    data: {confirm: 'Are you sure?'}, 
    remote: true unless @event.new_record? %> 

<% end %> 
<script>

function nextTab(elem) {
  $(elem).next().find('a[data-toggle="tab"]').click();
  if(elem.next().is(":last-of-type")) {
    $(".event-submit").css("display", "initial");
  } else {
    $(".event-submit").css("display", "none");
  }
}
function prevTab(elem) {
  $(elem).prev().find('a[data-toggle="tab"]').click();
    $(".event-submit").css("display", "none");
}
$(".next-step").on('click', function() {
  if ($("#new_event").valid()) {
    x = $(this).parents().prev('.nav-tabs').find('li.active');
    nextTab(x);
  }
});
$(".prev-step").on('click', function() {
  x = $(this).parents().prev('.nav-tabs').find('li.active');
  prevTab(x);
});




$('#event_color').minicolors({
  theme: 'bootstrap'
});

jQuery.validator.addMethod('optionsCheck', function(value){
  return (value != '0');
}, 'event type required');

jQuery.validator.addMethod('dateCheck', function(value) {
  sd = new Date($("#startTime").val());
  ed = new Date($("#endTime").val());
  if(sd <= ed) {
    return true;
  } else {
    return false;
  }
}, 'End date should came after start date');

$("#new_event").validate({
  debug: true,
  rules: {

    "event[end]": {
      dateCheck: true
    },

    options: { optionsCheck: true },

    "event[training_attributes][dog_dog]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][dog_human]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][no_attachment]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][ignore_calling]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][no_heel]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][toilet_home]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][bite_furniture]": {
      require_from_group: [1, ".training-description"]
    },

    "training_attributes_other": {
      require_from_group: [1, ".training-description"]
    },
    "event[training_attributes][other]": {
    },

    "trainee_id": {
      required: true
    },
    "trainer_id": {
      required: true
    },
    "dog_id": {
      required: true
    },
    "recipient_id": {
      required: true
    },
    "conveyor_id": {
      required: true
    },
    "volunteer_id": {
      required: true
    },
    "client_id": {
      required: true
    }
  },
  groups: {
    trainingChecks: "event[training_attributes][dog_dog] event[training_attributes][dog_human] event[training_attributes][no_attachment] event[training_attributes][ignore_calling] event[training_attributes][no_heel] event[training_attributes][toilet_home] event[training_attributes][bite_furniture] training_attributes_other"
  },

  errorPlacement: function(error, element) {
    if($(element).attr("type") == "checkbox" || $(element).attr("type") == "radio") {
      error.appendTo($(element).parents('table').prev());
    } else {
      error.insertAfter(element);
    }
  },

  highlight: function(element, errorClass) {
    if($(element).attr("type") == "checkbox" || $(element).attr("type") == "radio") {
      $(element).parents('table').prev().prev().css("color", "red");
    } else {
      $(element).css({"border": "red 1px solid", "box-shadow": "0 0 7px rgba(255, 0, 0, 0.6)"});
    }
  },
  unhighlight: function(element, errorClass, validClass) {
    if($(element).attr("type") == "checkbox" || $(element).attr("type") == "radio") {
      $(element).parents('table').prev().prev().css("color", "inherit");
    } else {
      $(element).css({"border": "#ccc 1px solid", "box-shadow": "none"});
    }
  }

});
</script>
