<%= simple_form_for @event, remote: true, html: {class: 'form-horizontal'} do |f| %>

  <fieldset id="core-event">
    <%= f.input :title, input_html: {class: "form-control" } %> 
    <%= f.input :start, as: :string, input_html: {class: "datepicker form-control", id: "startTime"} %> 
    <%= f.input :end, as: :string, input_html: {class: "datepicker form-control", id: "endTime"} %> 
    <%= f.input :color, as: :minicolors %> 
    <% unless params[:action] == 'edit' %>
      <div class="form-group">
        <%= select_tag :options, options_for_select([['Chose Type',0],['Custom',1],['Training',2],['Transfer', 3],['Visit',4]], 0), class: 'form-control'  %> <br /> 
      </div>
    <% end %> 
  </fieldset>

  <fieldset id="custom-event"> <%= render "custom_events", event: f %> </fieldset>
  <fieldset id="training"> <%= render "training", event: f %> </fieldset>
  <fieldset id="transfer"> <%= render "transfer", event: f %> </fieldset>
  <fieldset id="visit"> <%= render "visit", event: f %> </fieldset>

  <%= f.button :submit, id: 'event-submit' %> 

  <%= link_to 'Delete', event_path, method: :delete, 
    class: 'btn btn-danger', 
    data: {confirm: 'Are you sure?'}, 
    remote: true unless @event.new_record? %> 

<% end %> 
<script>

function displaySubmit(elem) {
  var length;
  length = elem.parents('ul').find('li').size();
  if(elem.index() == length-2) {
    $("#event-submit").css("display", "initial");
  } else {
    $("#event-submit").css("display", "none");
  }
}
function nextTab(elem) {
  $(elem).next().find('a[data-toggle="tab"]').click();
  displaySubmit(elem);
}
function prevTab(elem) {
  $(elem).prev().find('a[data-toggle="tab"]').click();
  displaySubmit(elem);
}
$(".next-step").on('click', function() {
  if ($("#new_event").valid()) {
    let x;
    x = $(this).parents().prev('.nav-tabs').find('li.active');
    debugger;
    nextTab(x);
  }
});
$(".prev-step").on('click', function() {
    x = $(this).parents().prev('.nav-tabs').find('li.active');
    prevTab(x);
});




$('#event_color').minicolors({
  theme: 'bootstrap'
});

jQuery.validator.addMethod('optionsCheck', function(value){
  return (value != '0');
}, 'event type required');


$("#new_event").validate({
  debug: true,
  rules: {

    options: { optionsCheck: true },

    "event[training_attributes][dog_dog]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][dog_human]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][no_attachment]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][ignore_calling]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][no_heel]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][toilet_home]": {
      require_from_group: [1, ".training-description"]
    },

    "event[training_attributes][bite_furniture]": {
      require_from_group: [1, ".training-description"]
    },

    "training_attributes_other": {
      require_from_group: [1, ".training-description"]
    },

    "trainee_id": {
      required: true
    },
    "trainer_id": {
      required: true
    }
  },
  groups: {
    trainingChecks: "event[training_attributes][dog_dog] event[training_attributes][dog_human] event[training_attributes][no_attachment] event[training_attributes][ignore_calling] event[training_attributes][no_heel] event[training_attributes][toilet_home] event[training_attributes][bite_furniture] training_attributes_other"
  },

  errorPlacement: function(error, element) {
    if(element.attr("type") == "checkbox") {
      error.appendTo($("#training-description-tab:first-child"));
    } else {
      error.insertAfter(element);
    }
  },

  highlight: function(element, errorClass) {
    $(element).css({"border": "red 1px solid", "box-shadow": "0 0 7px rgba(255, 0, 0, 0.6)"});
  },
  unhighlight: function(element, errorClass, validClass) {
    $(element).css({"border": "#ccc 1px solid", "box-shadow": "none"});
  }

});
</script>
