<%= simple_form_for @event, remote: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %> 
  <%= f.input :start, as: :string, input_html: { class: "datepicker", id: "startTime" } %> 
  <%= f.input :end, as: :string, input_html: { class: "datepicker", id: "endTime" } %> 



  <%= f.fields_for :custom_events do |custom_event| %>

    <%# <h3> <%= f.label "Dog Details" %1> </h3> %>
    <%# <%= custom_event.fields_for :dogs  do |dog| %1> %> 
    <%#   <%= render "application_partials/dog_form", f: dog %1> %>
    <%# <% end %1> %>
    
  <% end %> 

  <br />
  <%= f.button :submit %>

<% end %>
<br />
<%= link_to 'Delete', event_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, remote: true unless @event.new_record? %> 
