<%= form_for @event, remote: true do |f| %>
  <%# create errors code %> 

  <%= f.label :title %> 
  <%= f.text_field :title %> <br /> 

  <%= f.label :start %> 
  <%= f.text_field :start, class: "datepicker", id: "startTime" %> <br />
  <%= f.label :end %> 
  <%= f.text_field :end, class: "datepicker", id: "endTime" %> <br /> 




  <%= select_tag :options, options_for_select([['Chose Type',0],['Custom',1],['Training',2],['Transfer', 3],['Visit',4]])  %> <br /> 


  <div id="customEvent">
    <h3>
      <p>custom</p>
    </h3>
  </div>
  <div id="training">
    <h3>
      <p>training</p>
    </h3>
  </div>
  <div id="transfer">
    <h3>
      <p>transfer</p>
    </h3>
  </div>
  <div id="visit">
    <h3>
      <p>visit</p>
    </h3>
  </div>

  <%= f.submit "Create" %> <br /> 

  <%= link_to 'Delete', event_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, remote: true unless @event.new_record? %> 
<% end %> 
<script>
</script>
