<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active disabledTab"><a href="#transfer-dog-tab" aria-controls="transfer-dog-tab" role="tab" data-toggle="tab">Dog</a></li>
        <li role="presentation" class="disabledTab"><a href="#transfer-sender-tab" aria-controls="transfer-sender-tab" role="tab" data-toggle="tab">Sender</a></li>
        <li role="presentation" class="disabledTab"><a href="#transfer-recipient-tab" aria-controls="transfer-recipient-tab" role="tab" data-toggle="tab">Recipient</a></li>
        <li role="presentation" class="disabledTab"><a href="#transfer-volunteer-tab" aria-controls="transfer-volunteer-tab" role="tab" data-toggle="tab">Volunteer</a></li>
        <li role="presentation" class="disabledTab"><a href="#transfer-note-tab" aria-controls="transfer-note-tab" role="tab" data-toggle="tab">Notes</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%= event.simple_fields_for :transfer do |tr| %> 
          <div role="tabpanel" class="tab-pane active" id="transfer-dog-tab">
            <h4>Add Dog</h4>
            <table class="table table-striped table-responsive table-hover">
              <thead>
                <tr>
                  <th>Add:</th>
                  <th>Name:</th>
                  <th>Chip id:</th>
                  <th>Age:</th>
                  <th>Breed:</th>
                  <th>Sex:</th>
                </tr>
              </thead>
              <tbody>
                <%= hidden_field_tag "dog_id", nil %> 
                <% @dogs.each do |dog| %>
                  <tr>
                    <td> <%= radio_button_tag "dog_id", dog.id, @event.transfer.dog_id == dog.id %> </td>
                    <td> <%= dog.name %> </td>
                    <td> <%= dog.chip_id %> </td>
                    <td> <%= dog.age %> </td>
                    <td> <%= dog.breed %> </td>
                    <td> <%= dog.sex %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn btn-default next-step">Save and continue</button>
          </div>
          <div role="tabpanel" class="tab-pane" id="transfer-sender-tab">
            <table class="table table-striped table-responsive table-hover">
              <%= hidden_field_tag "sender_id" %> 
              <h4>Sender</h4>
              <thead>
                <tr>
                  <th>Added:</th>
                  <th>Full name:</th>
                  <th>Email:</th>
                  <th>Phone:</th>
                  <th>Address:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="sender-radio"></td>
                  <td id='sender-fullname'></td>
                  <td id='sender-email'></td>
                  <td id='sender-phone'></td>
                  <td id='sender-address'></td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-default prev-step">Prevoious</button>
            <button type="button" class="btn btn-default next-step">Save and continue</button>
          </div>
          <div role="tabpanel" class="tab-pane" id="transfer-recipient-tab">
            <h4>Listing Recipients</h4>
            <table class="table table-striped table-responsive table-hover">
              <thead>
                <tr>
                  <th>Add</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Phone1</th>
                  <th>Phone2</th>
                  <th>Institution</th>
                </tr>
              </thead>
              <tbody>
                <%= hidden_field_tag "recipient_id", nil %> 
                <% @clients.each do |client| %>
                  <tr>
                    <td> <%= radio_button_tag "recipient_id", client.id, @event.transfer.recipient_id == client.id %> </td>
                    <td><%= client.fullname %></td>
                    <td><%= client.email %></td>
                    <td><%= client.phone1 %></td>
                    <td><%= client.phone2 %></td>
                    <td><%= client.institution %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn btn-default prev-step">Prevoious</button>
            <button type="button" class="btn btn-default next-step">Save and continue</button>
          </div>
          <div role="tabpanel" class="tab-pane" id="transfer-volunteer-tab">
            <h4>Listing Volunteers</h4>
            <table class="table table-striped table-responsive table-hover">
              <thead>
                <tr>
                  <th>Add</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Phone1</th>
                  <th>Phone2</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <%= hidden_field_tag "conveyor_id", nil %> 
                <% @volunteers.each do |volunteer| %>
                  <tr>
                    <td> <%= radio_button_tag "conveyor_id", volunteer.id, @event.transfer.volunteer_id == volunteer.id %> </td>
                    <td><%= volunteer.fullname %></td>
                    <td><%= volunteer.email %></td>
                    <td><%= volunteer.phone1 %></td>
                    <td><%= volunteer.phone2 %></td>
                    <td><%= volunteer.location.full_street_address %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn btn-default prev-step">Prevoious</button>
            <button type="button" class="btn btn-default next-step">Save and continue</button>
          </div>
          <div role="tabpanel" class="tab-pane" id="transfer-note-tab">
            <h4> Add Note </h4>
            <%= render "note", f: tr %>
            <button type="button" class="btn btn-default prev-step">Prevoious</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
