<%= simple_form_for [:business, @business_donation] do |f| %>
  <%= f.error_notification %>

  <h3> <%= f.label "Donation Details" %> </h3>
  <%= f.input :transaction_id %> 
  <%= f.input :amount %> 


  <%= f.simple_fields_for :donator do |c| %>
    <h3> <%= c.label "Donator Details" %> </h3>
    <%= c.input :first_name %> 
    <%= c.input :last_name %> 
    <%= c.input :email %> 
    <%= c.input :phone1 %> 
    <%= c.input :phone2 %> 
    <%= c.input :institution, as: :radio_buttons %> 
    <h3> <%= c.label "Location" %> </h3>
    <%= render "application_partials/location_form", f: c  %>
  <% end %> 

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
