<div id="donationsModal">
  <div class="modal fade" id="donationShowModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="containter">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="closeDonationShowModal close">x</button>
                  </div>
                </div>
                <div class="row content">
                  <div class="col-md-12">

                    <h3> Donation Details </h3>
                    <p> <strong>Transaction id:</strong> <%= @business_donation.transaction_id %> </p>
                    <p> <strong>Amount:</strong> <%= @business_donation.amount %> </p>
                    <p> <strong>Date:</strong> <%= @business_donation.created_at %> </p>
                    
                    <h3> Donator Details </h3>
                    <p> <strong>First name:</strong> <%= @donator.first_name %> </p>
                    <p> <strong>Last name:</strong> <%= @donator.last_name %> </p>
                    <p> <strong>Email:</strong> <%= @donator.email %> </p>
                    <p> <strong>Phone1:</strong> <%= @donator.phone1 %> </p>
                    <p> <strong>Phone2:</strong> <%= @donator.phone2 %> </p>
                    <p> <strong>Address:</strong> <%= @donator.location.full_street_address %> </p>
                    <p> <strong>Coordinates:</strong> <%= @donator.location.latitude %> <%= @donator.location.longitude %> </p>

                    <p> 
                      <%= link_to 'Edit', edit_business_donation_path(@business_donation), class: "closeDonationShowModal" %> 
                      | <%= link_to 'Back', business_donations_path, class: "closeDonationShowModal" %>
                    </p>
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="closeDonationShowModal btn btn-default">close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
