<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

      <div id="side_accordion" class="sidebar-menu sub-menu">
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#dashboard_submenu"><i class="fa fa-desktop"></i>Dashboard</a> %> 
            <%= link_to "<i class='fa fa-desktop'></i> Dashbard".html_safe, dashboard_path %> 
          </div>
          <%# <div id="dashboard_submenu" class="panel-collapse collapse"> %>
          <%#   <ul class="sub"> %>
          <%#     <li><a  href="#">General</a></li> %>
          <%#     <li><a  href="#">Buttons</a></li> %>
          <%#     <li><a  href="#">Panels</a></li> %>
          <%#   </ul> %>
          <%# </div> %>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#volunteers_submenu"><i class="fa fa-users"></i>Volunteers</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#volunteers_submenu"> <%= icon('users') %> Volunteers</a> 
          </div>
          <div id="volunteers_submenu" class="panel-collapse collapse">
            <ul class="sub">
              <li> <%= link_to "Volunteers", volunteers_path %> </li>
              <li> <%= link_to "Groups", volunteers_groups_path %> </li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#dogs_submenu"><i class="fa fa-paw"></i>Dogs</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#dogs_submenu"> <%= icon('paw') %> Dogs</a> 
          </div>
          <div id="dogs_submenu" class="panel-collapse collapse">
            <ul class="sub">
              <li> <%= link_to "Dogs", dogs_path %> </li>
              <li> <%= link_to "Dog Owners", clients_path %> </li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#business_submenu"><i class="fa fa-handshake-o"></i>Business</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#business_submenu"> <%= icon('handshake-o') %> Business</a> 
          </div>
          <div id="business_submenu" class="panel-collapse collapse">
            <ul class="sub">
              <li> <%= link_to "Donations", business_donations_path %> </li>
              <li> <%= link_to "Donators", business_donators_path %> </li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#events_submenu"><i class="fa fa-calendar"></i>Events</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#events_submenu"> <%= icon('calendar') %> Events</a> 
          </div>
          <div id="events_submenu" class="panel-collapse collapse">
            <ul class="sub">
              <li> <%= link_to "Calendar", events_path %> </li>
              <li> <%= link_to "List of events", business_donators_path %> </li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#events_submenu"><i class="fa fa-calendar"></i>Accounting</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#booking_submenu"> <%= icon('book') %> Accounting</a> 
          </div>
          <div id="booking_submenu" class="panel-collapse collapse">
            <ul class="sub">
              <li> <%= link_to "Accounts", business_accounts_path %> </li>
              <li> <%= link_to "List of events", business_donators_path %> </li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <%# <a data-toggle="collapse" data-parent="#side_accordion" href="#logs_submenu"><i class="fa fa-gears"></i>Settings</a> %> 
            <a data-toggle="collapse" data-parent="#side_accordion" href="#logs_submenu"> <%= icon('gears') %> Settings</a> 
          </div>
          <div id="logs_submenu" class="panel-collapse collapse">
            <ul class="sub">

              <% if current_moderator.owner? %>
                <li> <%= link_to "All Users", users_path %> </li>
              <% end %> 
            </ul>
          </div>
        </div>
      </div> 


      <!-- sidebar menu end-->
    </ul>
  </div>
</aside>
