<h1>Donations Import</h1>

<%= render "application_partials/import_info", klass: 'DonationsImport' %>

<%= form_for [:business, @donations_import] do |f| %>
  <%= render "application_partials/imports_flashes", import_objects: @donations_import %>
  <div class="field"> <%= f.file_field :file %> </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

