<h1>Dog Owners Import</h1>

<%= render "application_partials/import_info", klass: 'DogsOwnersImport' %>

<%= form_for @owners_import do |f| %>
  <%= render "application_partials/imports_flashes", import_objects: @owners_import %>
  <div class="field"> <%= f.file_field :file %> </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

