<div class="row">
  <div class="col-md-12">
    <div class="stat-panel pn">
      <div class="stat-header">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="stats-info">
              <h3>Accounts</h3>
              <p class="small"> <%= date %> </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <%# Navigation Start %>
      <div class="row">
        <div class="col-md-7 ">
          <div class="stats-controls-wrapper">
            <%= form_tag '/stats/accounts', method: :get, class: 'form-inline ' do  %>
              <div class="form-group">
                <%= label_tag :accounts_group, 'Accounts Group', class: 'stats-controls-label' %> 
                <%= select_tag :accounts_group, options_for_select(%w[Assets Liabilities Equities Revenues Expenses], params[:accounts_group]), class: 'stats-controls form-control' %> 
              </div>
              <div class="form-group">
                <%= label_tag :redraw, 'redraw chart', class: 'stats-controls-label' %> 
                <%= submit_tag "redraw", class: 'btn btn-default btn-small stats-controls' %> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%# Navigation End %>

      <%= render "accounts_stats", name: params[:accounts_group], accounts: @data %>
    </div>
  </div>
