<div class="row">
  <div class="col-md-12">
    <div class="stat-panel pn">
      <div class="stat-header">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="stats-info">
              <h3>Donations</h3>
              <p class="small"> <%= date %> </p>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 goright">
          </div>
        </div>
      </div><div class="row">
        <div class="col-md-7 ">
          <div class="stats-controls-wrapper">
            <%= form_tag '/stats/donations', method: :get, class: 'form-inline ' do  %>
              <div class="form-group">
                <%= label_tag :period, 'period', class: 'stats-controls-label' %> 
                <%= select_tag :period, options_for_select(%w[month quarter year], params[:period]), class: 'stats-controls form-control' %> 
              </div>
              <div class="form-group">
                <%= label_tag :last, 'time span', class: 'stats-controls-label' %> 
                <%= select_tag :last, options_for_select(%w[12 6 3], params[:last]), class: 'stats-controls form-control' %> 
              </div>
              <div class="form-group">
                <%= label_tag :redraw, 'redraw chart', class: 'stats-controls-label' %> 
                <%= submit_tag "redraw", class: 'btn btn-default btn-small stats-controls' %> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= sum_of_donations_by_time(params[:period], params[:last]) %> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="volunteers-groups-stats-wrapper">
            <h4>Highest Donations</h4>
            <table class="table table-striped table-hover">
                <tr>
                  <th>No.</th>
                  <th>Donator name</th>
                  <th>Amount</th>
                </tr>
                <% @highest_donations.each_with_index do |donation, index| %> 
                  <tr>
                    <td> <%= index+1 %> </td>
                    <td> <%= link_to donation.donator.fullname, business_donator_path(donation.donator), remote: true %> </td>
                    <td> <%= donation.amount.round(2) %> </td>
                  </tr>
                <% end %> 
            </table>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

