<h1>Dogs Import</h1>

<%= render "application_partials/import_info", klass: 'DogsImport' %>

<%= form_for @dogs_import do |f| %>
  <%= render "application_partials/imports_flashes", import_objects: @dogs_import %>
  <div class="field"> <%= f.file_field :file %> </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>

