<!DOCTYPE html>
<html>
  <head>
    <title>BetterTogether</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# <% if flash[:notice] %1> %>
      <%#   <div class="notice"> <%= flash[:notice] %1> </div> %>
      <%# <% end %1> %>
    <%# <% if flash[:alert] %1> %>
      <%#   <div class="alert"> <%= flash[:alert] %1> </div> %>
      <%# <% end %1> %>

    <%= gflash %> 
    <%= logout_link session[:current_moderator] %> 

    <%= yield %>

  </body>
</html>
