<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>BT-Login</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# <%= stylesheet_link_tag 'application', 'https//fonts.googleapis.com/css?family=Ruda:400,700,900//fonts.googleapis.com/css?family=Ruda:400,700,900' %1> %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= gflash %> 
    <div id="login-page">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script>
      var bgimg = " <%= asset_path('login-bg.jpg') %> "
      $.backstretch(bgimg, {speed: 500 });
    </script>
  </body>
</html>
